/dependencies/sources/*
!/dependencies/sources/.gitkeep
/dependencies/lib/*
!/dependencies/lib/.gitkeep
/target/*
/deps/
/tmp
/runtime.*
/bundle.*
*.log
/.vscode
/pack.php
/debugger*
/fastly.toml
/pkg
/target
**/*.rs.bk
/bin
/pkg
*.wat
*.phar
debugger*
/stub-gen
/stub-generator/target
/*.stubs.php
/test.php
