/dependencies/sources/*
!/dependencies/sources/.gitkeep
/dependencies/lib/*
!/dependencies/lib/.gitkeep
/target/*
/deps/
/tmp
/runtime.*
/bundle.*
*.log
.vscode/settings.json
/pack.php
/debugger*
/fastly.toml
/pkg
/target
**/*.rs.bk
/bin
/pkg
*.wat
*.phar
debugger*
